*.dSYM
.DS_Store
*.o
.vscode/settings.json
Assignment/DivideAndConquer/OLD
Assignment/OpenCVFilters/res
Assignment/OpenCVFilters/img
Assignment/OpenCVFilters/_old
Assignment/FFCompressor/DATASET
Assignment/FFCompressor/BIG
Assignment/FFCompressor/miniz
.vscode
Project/OLD